<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" crossorigin="anonymous"></link>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>-->
    <!--<script src="/app.js" th:href="@{/app.js}"></script>-->
    <title>Photo gallery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <!-- <style>
	   body{
	    background-color: maroon;
	   }
	  </style> -->
	<style>
		.thumb img  {
			border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
			padding: 15px; /* Расстояние от картинки до рамки */
			background: #666; /* Цвет фона */
			margin-right: 10px; /* Отступ справа */
			margin-bottom: 10px; /* Отступ снизу */
		}
	</style>
</head>
<body>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body ">
            <h4>Select your pic folder</h4>
                <form action="/photo/addImage" method="post" enctype="multipart/form-data">
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="file" name="uploadFolder" id="uploadFolder" webkitdirectory="" directory="" multiple=""/>
                        </div>
                    <button type="submit" class="btn btn-md btn-primary">Create gallery</button>
                    </div>
                </form>
            </div>
        </div>
		
		<h4>Title:</h4>
		
		listFiles.length: <span th:text="${listFiles.length}" />
		<p/>
		backgroundColor: <span th:text="${backgroundColor}" />
		<p/>
		imageCountInRow: <span th:text="${imageCountInRow}" />
		<p/>
		isOriginalSize: <span th:text="${isOriginalSize}" />
		<p/>
		imageHeight: <span th:text="${imageHeight}" />
		<p/>
		imageWidth: <span th:text="${imageWidth}" />
		<p/>
		<div th:each="num, row: ${intArr}" >
		    <div th:text="${num}" />
		</div>
		<p/>
		
		<div th:each="data, row: ${listFiles}" th:with="numList=${ intArr }" th:if="${row.count % imageCountInRow == 0 or row.last}" class="span3">
		    <img alt="" th:width="${imageWidth}" th:height="${imageHeight}" th:each="num : ${numList}" th:with="dataIndex=(${row.index} - ${num})" 
		    	th:if="${row.count % imageCountInRow == 0}" th:src="@{/photo/get/{hashCode}(hashCode=${listFiles[dataIndex].getFileHashCode()})}"/>
			<img alt="" th:width="${imageWidth}" th:height="${imageHeight}" th:each="num : ${numList}" th:with="dataIndex=(${row.index} - ${num})" 
				th:if="${row.last} and ${row.count % imageCountInRow != 0} and ${num &lt; row.count % imageCountInRow}" th:src="@{/photo/get/{hashCode}(hashCode=${listFiles[dataIndex].getFileHashCode()})}"/>
		</div>
    </div>
</body>
</html>